absl-py
aiohttp
aiosignal
async-timeout
attrs
backports.functools-lru-cache
blinker==1.4
Bottleneck
brotlipy==0.7.0
cachetools
certifi==2023.7.22
cffi
charset-normalizer
click
cloudpickle
colorama
contourpy
cryptography
cycler
cytoolz
dask
easydict==1.9
einops
#faiss==1.7.4
#faiss-gpu==1.6.5
filelock
fonttools==4.25.0
frozenlist
fsspec
ftfy
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
imagecodecs-lite
imageio
importlib-metadata
importlib-resources
joblib
kiwisolver
locket
Markdown
MarkupSafe
matplotlib
mkl-fft==1.3.8
mkl-random
mkl-service==2.4.1
multidict
munkres==1.1.4
networkx
npy-append-array==0.9.16
numexpr
numpy
oauthlib
opencv-python==4.8.1.78
packaging
pandas
partd
Pillow==10.3.0
ply==3.11
protobuf==3.20.3
pyasn1
pyasn1-modules==0.2.8
pycparser
PyJWT
pyOpenSSL
pyparsing
PyQt5-sip==12.11.0
PySocks
python-dateutil
pytz
PyWavelets
PyYAML
regex
requests
requests-oauthlib==1.3.0
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
sip
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
threadpoolctl
tifffile
timm
toml
toolz
torch==1.13.1
torchaudio==2.0.1
torchvision==0.14.1
torchxrayvision==1.2.1
tornado
tqdm
typing_extensions
tzdata
urllib3
Wand==0.6.11
wcwidth
Werkzeug
yarl
zipp
